%table{ border: '1' }
  %thead
    %th Profile Image
    %th Name
    %th Email
    %th Provider Type
    %th Provider Id
    %th Country
    %th City
    %th Latitude
    %th Longitude
    %th Last Seen
  %tbody
    - @users.each do |user|
      %tr
        %td= image_tag(user.image)
        %td= user.name
        %td= user.email
        %td= user.provider
        %td= user.uid
        %td= user.location.try(:country)
        %td= user.location.try(:city)
        %td= user.location.try(:latitude)
        %td= user.location.try(:longitude)
        %td= user.location.try(:updated_at)
